@model Restaurant.Models.FoodChain

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FoodChain</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoodChainID" />
            <div class="form-group">
                <label asp-for="FoodChainName" class="control-label"></label>
                <input asp-for="FoodChainName" class="form-control" />
                <span asp-validation-for="FoodChainName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlutenFreeOptions" class="control-label"></label>
                <select asp-for="GlutenFreeOptions" class="form-control">
                    <option>Yes</option>
                    <option>No</option>
                </select>
                <span asp-validation-for="GlutenFreeOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VegetarianOptions" class="control-label"></label>
                <select asp-for="VegetarianOptions" class="form-control">
                    <option>Yes</option>
                    <option>No</option>
                </select>
                <span asp-validation-for="VegetarianOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VeganOptions" class="control-label"></label>
                <select asp-for="VeganOptions" class="form-control">
                    <option>Yes</option>
                    <option>No</option>
                </select>
                <span asp-validation-for="VeganOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DairyFreeOptions" class="control-label"></label>
                <select asp-for="DairyFreeOptions" class="form-control">
                    <option>Yes</option>
                    <option>No</option>
                </select>
                <span asp-validation-for="DairyFreeOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NutFreeOptions" class="control-label"></label>
                <select asp-for="NutFreeOptions" class="form-control">
                    <option>Yes</option>
                    <option>No</option>
                </select>
                <span asp-validation-for="NutFreeOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Please provide the name of any other allergies you accommodate e.g. "Shellfish".</label>
                <input asp-for="OtherOptions" class="form-control" />
                <span asp-validation-for="OtherOptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
