@model Restaurant.Models.FoodChain

@{
    ViewData["Title"] = "Upload";
}

<h1>Edit</h1>

<h4>FoodChain</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoodChainID" />
            <div class="form-group">
                <label asp-for="FoodChainName" class="control-label"></label>
                <input readonly asp-for="FoodChainName" class="form-control" />
                <span asp-validation-for="FoodChainName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuLink" class="control-label"></label>
                <input type="file" asp-for="MenuLink" class="form-control" name="file" accept=".pdf" />
                <span asp-validation-for="MenuLink" class="text-danger"></span>
                <input type="submit" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
