@{
    ViewData["Title"] = "Restaurant Search";
}

<div class="text-center">
    <h1 class="display-4">Restaurant Search</h1>
    <hr />
    <br />
    <p><a href="/FoodChains/AvoidAllergy">Show Me Restaurants!</a></p>
    <p><a href="/Scans">Scan a Menu For Allergies</a></p>
</div>
