@{
    ViewData["Title"] = "Liability";
}

<h1>Liability Statement</h1>
<hr />
<h3>What is this?</h3>
<p>This is our statement regarding the liability of parties in the event of an incident (e.g. receiving an allergic reaction after consumption of goods at a food chain after using this website as a guide).</p>
<h3>What does this mean?</h3>
<p>This statement clearly outlines who the liability of an incident resides with, and our responsibility to ensure the information provided to customers is reliable and accurate.</p>
<br />
<hr />
<br />
<h2>Our Statement</h2>
<p></p>