@{
    ViewData["Title"] = "Liability";
}

<h1>Liability Statement</h1>
<hr />
<h3>What is this?</h3>
<p>This is our statement regarding the liability of parties in the event of an incident (e.g. receiving an allergic reaction after consumption of goods at a food chain after using this website as a guide).</p>
<h3>What does this mean?</h3>
<p>This statement clearly outlines who the liability of an incident resides with, and our responsibility to ensure the information provided to customers is reliable and accurate.</p>
<hr />
<h2>Our Statement</h2>
<p>
    This application is intended to provide recommendations for restaurants based on a user's dietay needs. 
    By using this application, you acknowledge the terms of an implicit agreement between the user (you), the restaurant, and the administration team of this application. 
</p>
<p>
    Additionally, by using this application you acknowledge that the information provided may not be 100% accurate, and that the restaurant who provides the goods for consumption is liable for incidents.
    The responsibility to determine if an individual offering of goods is safe for consumption lies with the user of the application, and should confer with the restaurant in any cases of uncertainty. 
    Restaurants do not often guarantee that goods are free from allergens due to risk of cross-contamination (as they are often prepared in the same space). 
    Therefore, provision and consumption of these goods should be done at the user's risk.
    The user should view and consider the restaurant's allergy statement/policy, should they provide one.
</p>
<p>
    Therefore, by using this application, you acknowledge that the liability of incidents does not rest on the administrators of this site, but instead any issues should be taken up with the restaurant itself.
</p>